.inline-link {
    font-weight: 500;
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-size: 0.9em;
    border-bottom: 1px solid #ECE7E1;
}

.inline-link:hover {
    text-decoration: none !important;
    font-style: italic;
}

.link-sm {
    font-size: 0.9em;
}

.link-md {
    font-size: 1em;
    border-bottom: 1px solid #1A1A1A;
}

.hide {
    display: none;
}
