.nav-link {
    font-size: large;
    font-family: Archivo, sans-serif;
}

.nav-link-active {
    font-size: large;
    font-family: 'Tenez', serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.nav-link:hover {
    /*font-size: larger;*/
    text-decoration: underline;
    text-decoration-color: inherit;
    transition: text-decoration-color 1s;
    font-style: italic;
    /*font-family: 'Tenez', serif;*/
    /*text-decoration: line-through;*/
    /*font-weight: 700;*/
    /*color: #D27C60*/
}
